@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    background-color: #bb9f80;
    color: #fff;
}
.menu-head h2{
    font-family: 'Kaushan Script', cursive;
    font-size: 2.6rem;
}

.text-center{
    text-align: center;
}

.container {
    width: 100%;
    padding: 20px 30%;
}

.nav-button{
    padding: 5px 20px;
    background-color: #a97a3c;
    color: white;
    font-weight: bold;
    border: 0;
}
